@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: #0f0f0f;
		--color-primary: #fafafa;
		--color-secondary: #3183ff;
	}
}

.screen-height {
	height: calc(100vh - 76px);
}
